[submodule "Native-Mobile-App/Android/Kotlin/Jetpack-Compose-Firebase-Auth-GoogleMap/Jetpack-Compose-Firebase-Auth"]
	path = Native-Mobile-App/Android/Kotlin/Jetpack-Compose-Firebase-Auth-GoogleMap/Jetpack-Compose-Firebase-Auth
	url = https://github.com/Alex-Wong-HK/Jetpack-Compose-Firebase-Auth.git
[submodule "Native-Mobile-App/Swift/Swift-firebase/--force"]
	path = Native-Mobile-App/Swift/Swift-firebase/--force
	url = https://github.com/Alex-Wong-HK/ScoringSystem.git
